<!DOCTYPE html>
	<html 
		xmlns= "http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
		
			<head>
				<title>MoodleInquiry</title>
				<meta http-equiv="Content-type" content="text/html; charset-UTF-8"/>
			</head>
			
				<body>
					
					<h1>Questions Data</h1>
					
							<table>
								<tr>
									<th>ID</th>
									<th>Question</th>
									<th>Answer</th>
								</tr>
								
								<tr th:each="question : ${questions}">
									<td th:text="${question.id}"></td>
									<td th:text="${question.questionText}"></td>
									<td th:text="${question.questionAnswer}"></td>
								</tr>
							</table>
				
				</body>
	</html>